
*.v2
.vs/AppLayoutAspCore/FileContentIndex/1f38d279-2a84-4b9a-aa51-7eeb44e16e4e.vsidx
.vs/AppLayoutAspCore/FileContentIndex/0830e2e5-711f-4ec8-9ce2-c6b08c1d4a0c.vsidx
.vs/AppLayoutAspCore/FileContentIndex/0830e2e5-711f-4ec8-9ce2-c6b08c1d4a0c.vsidx
.vs/AppLayoutAspCore/FileContentIndex/1f38d279-2a84-4b9a-aa51-7eeb44e16e4e.vsidx
.vs/AppLayoutAspCore/FileContentIndex/3d2b93dc-e754-44ba-a7b0-8a4b2588ef7b.vsidx
.vs/AppLayoutAspCore/FileContentIndex/5d0988c7-3051-41d6-b241-3e2aef54eb7f.vsidx
