
*.v2
.vs/AppLayoutAspCore/FileContentIndex/1f38d279-2a84-4b9a-aa51-7eeb44e16e4e.vsidx
.vs/AppLayoutAspCore/FileContentIndex/0830e2e5-711f-4ec8-9ce2-c6b08c1d4a0c.vsidx
.vs/AppLayoutAspCore/FileContentIndex/0830e2e5-711f-4ec8-9ce2-c6b08c1d4a0c.vsidx
.vs/AppLayoutAspCore/FileContentIndex/1f38d279-2a84-4b9a-aa51-7eeb44e16e4e.vsidx
.vs/AppLayoutAspCore/FileContentIndex/3d2b93dc-e754-44ba-a7b0-8a4b2588ef7b.vsidx
.vs/AppLayoutAspCore/FileContentIndex/5d0988c7-3051-41d6-b241-3e2aef54eb7f.vsidx
.vs/AppLayoutAspCore/FileContentIndex/7bd50ab7-eee4-46b3-b8e6-4c753bc3c6c0.vsidx
.vs/AppLayoutAspCore/FileContentIndex/adefb58b-0a66-4366-8add-3e27c998539b.vsidx
.vs/AppLayoutAspCore/FileContentIndex/c01416d8-c184-4452-b48d-8b51bc7d224c.vsidx
.vs/AppLayoutAspCore/FileContentIndex/cc0dd00d-b1fa-44d7-bb4e-6a89ae5ef11e.vsidx
.vs/AppLayoutAspCore/FileContentIndex/db594a64-9a11-48b3-a094-eb5be2faa2bf.vsidx
.vs/AppLayoutAspCore/FileContentIndex/debb51b9-afd7-4200-9d3a-abfc4555122a.vsidx
.vs/AppLayoutAspCore/FileContentIndex/db594a64-9a11-48b3-a094-eb5be2faa2bf.vsidx
.vs/AppLayoutAspCore/v16/.suo
.vs/AppLayoutAspCore/v17/.suo
.vs/AppLayoutAspCore/v17/DocumentLayout.json
.vs/AppLayoutAspCore/config/applicationhost.config
.vs/AppLayoutAspCore/config/applicationhost.config
.vs/AppLayoutAspCore/FileContentIndex/0b427b59-f4e5-45f5-bb13-001d16405570.vsidx
.vs/AppLayoutAspCore/FileContentIndex/1cf224bb-c5a9-44e0-812c-44ccdadd18a6.vsidx
.vs/AppLayoutAspCore/config/applicationhost.config
.vs/AppLayoutAspCore/v17/DocumentLayout.json
