@inject AppLayoutAspCore.Libraries.Login.LoginCliente _LoginCliente
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Loja Virtual</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/caroussel/carousel.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-ecommerce-uikit/css/ui.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-ecommerce-uikit/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagedlist/PagedList.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppLayoutAspCore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
  
    <link href="~/lib/jquery/DataTables/datatables.min.css" rel="stylesheet">
</head>
<body>
    <header>

        @await Component.InvokeAsync("Menu")   
        
    </header>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/holder/holder.min.js"></script>
    <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/lib/popper1.14.6/popper.min.js"></script>
    <script src="~/lib/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
@*     <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script> *@
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
   

    <script src="~/lib/jquery/DataTables/datatables.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="></script>
</body>
</html>
